.plus-button {
    -fx-background-color: #3498db; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-background-radius: 50; /* Round background */
    -fx-left-padding: 35; /* Padding inside the button */
    -fx-right-padding: 35; /* Padding inside the button */
    -fx-font-size: 16px; /* Font size */

}

.plus-button:hover {
    -fx-background-color: rgb(80, 39, 81); 
}

.file-button {
    -fx-background-color: #3498db; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-background-radius: 50; /* Round background */
    -fx-left-padding: 35; /* Padding inside the button */
    -fx-right-padding: 35; /* Padding inside the button */
    -fx-font-size: 16px; /* Font size */
}

.select-button {
    -fx-background-color: #3498db; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-background-radius: 50; /* Round background */
    -fx-left-padding: 35; /* Padding inside the button */
    -fx-right-padding: 35; /* Padding inside the button */
    -fx-font-size: 16px; /* Font size */
}

.plan-button {
    -fx-background-color: #3498db; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-background-radius: 50; /* Round background */
    -fx-left-padding: 35; /* Padding inside the button */
    -fx-right-padding: 35; /* Padding inside the button */
    -fx-font-size: 16px; /* Font size */
}

.message-pane {
    -fx-border-color: BLACK; /* Border color */
    -fx-border-width: 1; /* Border width */
}


.map-pane {
    -fx-border-color: BLACK; /* Border color */
    -fx-border-width: 1; /* Border width */
    -fx-position: absolute; /* Positioning */
    -fx-top: 0; /* Top position */
    -fx-left: 0; /* Left position */
    -fx-width: 550px; /* Fixed width */
    -fx-height: 550px; /* Fixed height */
}


.border-pane {
    -fx-border-color: rgb(0, 17, 255); /* Border color */
    -fx-border-width: 1; /* Border width */
}

.anchor-pane {
    -fx-border-color: rgb(255, 0, 0); /* Border color */
    -fx-border-width: 1; /* Border width */
}

.stack-pane{
    -fx-border-color: rgb(0, 255, 0); /* Border color */
    -fx-border-width: 1; /* Border width */
}

.vbox {
    -fx-border-color: rgb(255, 0, 255); /* Border color */
    -fx-border-width: 1; /* Border width */
}