.plus-button {
    -fx-background-color: #3498db; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-background-radius: 50; /* Round background */
    -fx-left-padding: 35; /* Padding inside the button */
    -fx-right-padding: 35; /* Padding inside the button */
    -fx-font-size: 20px; /* Font size */

}

.plus-button:hover {
    -fx-background-color: rgb(80, 39, 81); 
}

.file-button {
    -fx-background-color: #3498db; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-background-radius: 50; /* Round background */
    -fx-left-padding: 35; /* Padding inside the button */
    -fx-right-padding: 35; /* Padding inside the button */
    -fx-font-size: 20px; /* Font size */
}

.select-button {
    -fx-background-color: #3498db; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-background-radius: 50; /* Round background */
    -fx-left-padding: 35; /* Padding inside the button */
    -fx-right-padding: 35; /* Padding inside the button */
    -fx-font-size: 20px; /* Font size */
}
